@model IEnumerable<POEOne.Models.ClaimApproval>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Approver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Approver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lecturers.LecturerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClaimApprovalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClaimApprovalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClaimApprovalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
