@model POEOne.Models.Status

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lecturers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lecturers.LecturerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimApproval.ClaimApprovalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approve)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClaimId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
